@model IEnumerable<SolarSystemViewModel>

<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Solar System Data </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/css/main.css" />
    <noscript><link rel="stylesheet" href="~/css/noscript.css" /></noscript>
</head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper" class="fade-in">

        <!-- Intro -->
        <div id="intro">
            <h1>Solar System Data:</h1>
        </div>
            <!-- Table-->
        <div>
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Is it a Planet?</th>
                    <th>Moons</th>
                    <th>Gravity</th>
                    <th>Mean Radius (km)</th>
                    <th>Discovery Date</th>
                </tr>
                @foreach (var item in Model)
                {
                    <td>@item.id</td>
                    <td>@item.englishName</td>
                    <td>@item.isPlanet</td>
                    <td>@item.moons </td>
                    <td>@item.gravity</td>
                    <td>@item.meanRadius</td>
                    <td>@item.discoveryDate</td>
                }
                <tr>
                </tr>
            </table>
        </div>

        <!-- Scripts -->
        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/jquery.scrollex.min.js"></script>
        <script src="~/js/jquery.scrolly.min.js"></script>
        <script src="~/js/browser.min.js"></script>
        <script src="~/js/breakpoints.min.js"></script>
        <script src="~/js/util.js"></script>
        <script src="~/js/main.js"></script>
</body>
</html>