@model NeoViewModel

<h3>@Model Information</h3>

<table class="table">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>diameter</th>
        <th>first_obs</th>
        <th>last_obs</th>
    </tr>
    <tr>
        <td>@Model.id</td>
        <td>@Model.name</td>
        <td>@Model.diameter</td>
        <td>@Model.first_obs</td>
        <td>@Model.last_obs</td>
    </tr>

</table>
