@model NeoViewModel

<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Space Facts</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/css/main.css" />
    <noscript><link rel="stylesheet" href="~/css/noscript.css" /></noscript>
</head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper" class="fade-in">

        <!-- Intro -->
        <div id="intro">
            <h1>NEO = Near Earth Objects</h1>
            <p>
                Below is a truncated list of some of the near-earth objects from NASA's database at JPL.
            </p>
            <div class="image main">
                <img src="~/assets/nasa_neo_image.jpg" alt="asteroid in space" />
                <span class="date"><em>Photo credit: NASA</em></span>
            </div>
            <table class="table">
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>Diameter</th>
                    <th>First Observed</th>
                    <th>Last Observed</th>
                </tr>
                <tr>
                    <td>@Model.id</td>
                    <td>@Model.name</td>
                    <td>@Model.diameter</td>
                    <td>@Model.first_obs</td>
                    <td>@Model.last_obs</td>
                </tr>

            </table>


            <!-- Copyright -->
            <div id="copyright">
                <ul><li>&copy; 2021 SolvCreative LLC</li></ul>
            </div>

        </div>

        <!-- Scripts -->
        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/jquery.scrollex.min.js"></script>
        <script src="~/js/jquery.scrolly.min.js"></script>
        <script src="~/js/browser.min.js"></script>
        <script src="~/js/breakpoints.min.js"></script>
        <script src="~/js/util.js"></script>
        <script src="~/js/main.js"></script>

</body>
</html>
