<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Explore</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/css/main.css" />
    <noscript><link rel="stylesheet" href="~/css/noscript.css" /></noscript>
</head>
<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <a href=/home/index class="logo">Home</a>
        </header>

        <!-- Nav -->
        <nav id="nav">
            <ul class="links">
                <li><a href="index.cshtml">Home</a></li>
                <li class="active"><a href=/explore>Explore</a></li>
                <li><a href=/phenomena/index>Phenomena</a></li>
                <li><a href=/missioncontrol/index>Mission Control</a></li>
            </ul>
        </nav>

        <!-- Main -->
        <div id="main">

            <!-- Post -->
            <section class="post">
                <header class="major">
                    <h1>Weather from Mars<br /></h1>
                    <p>
                        Check out the latest weather from NASA's Insight, which takes continuous weather<br />
                        measurements on the surface of Mars at Elysium Planitia, a flat. smooth plain near<br />
                        Mars' equator.
                    </p>
                </header>
                <div class="image main">
                    <img src="~/assets/elysium_planitia.jpg" alt="insight on mars' surface at elysium planitia" />
                    <span class="date"><em>Photo credit: NASA</em></span>
                </div>
                @model WeatherViewModel

                <h3>@Model.SOL Information</h3>

                <table class="table">
                    <tr>
                        <th>SOL</th>
                        <th>AT</th>
                        <th>HWS</th>
                        <th>PRE</th>
                        <th>WD</th>
                        <th>Season</th>
                        <th>First_UTC</th>
                        <th>Last_UTC</th>
                    </tr>
                    <tr>
                        <td>@Model.SOL</td>
                        <td>@Model.AT</td>
                        <td>@Model.HWS</td>
                        <td>@Model.PRE</td>
                        <td>@Model.WD</td>
                        <td>@Model.Season</td>
                        <td>@Model.First_UTC</td>
                        <td>@Model.Last_UTC</td>
                    </tr>

                </table>

            </section>
        </div>

        <!-- Copyright -->
        <div id="copyright">
            <ul><li>&copy; 2021 SolvCreative LLC</li></ul>
        </div>

    </div>

    <!-- Scripts -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.scrollex.min.js"></script>
    <script src="~/js/jquery.scrolly.min.js"></script>
    <script src="~/js/browser.min.js"></script>
    <script src="~/js/breakpoints.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/main.js"></script>

</body>
</html>
