@model Fact

<h3>@Model.fact Information</h3>

<table class="table">
    <tr>
        <th>id</th>
        <th>category</th>
        <th>fact</th>
        <th>source</th>
    </tr>

    @foreach (var item in Model.fact)
    {
        <tr>
            <td>@Model.id</td>
            <td>@Model.category</td>
            <td>@Model.fact</td>
            <td>@Model.source</td>
        </tr>
    }

</table>
